<?xml version="1.0" encoding="UTF-8"?>
<!--设置log4j2的自身log级别为warn -->
<Configuration status="off" schema="Log4J-V2.2.xsd">
    <Properties>
        <Property name="logDir">${env:SIP_HOME}/logs</Property>
    </Properties>
    <appenders>
        <console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="# %t # =====&gt; [%p] [%d{yyyy-MM-dd HH:mm:ss}] &lt; %c &gt; [(%M %L)] (%m) %n"/>
        </console>
        <RollingFile name="trace" fileName="${logDir}/shadowsockets_trace.log"
                     filePattern="${logDir}/shadowsockets_trace.log.%d{yyyy-MM-dd}">
            <PatternLayout
                    pattern="# %t # =====&gt; [%p] [%d{yyyy-MM-dd HH:mm:ss}] &lt; %c &gt; [(%M %L)] (%m) %n"/>
            <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
        </RollingFile>

        <RollingFile name="netty" fileName="${logDir}/netty_trace.log"
                     filePattern="${logDir}/netty_trace.log.%d{yyyy-MM-dd}">
            <PatternLayout
                    pattern="# %t # ---&gt; [%p] [%d{yyyy-MM-dd HH:mm:ss}] &lt; %c &gt; [(%M %L)] (%m) %n"/>
            <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
        </RollingFile>
        <RollingFile name="error" fileName="${logDir}/shadowsockets_error.log"
                     filePattern="${logDir}/shadowsockets_error.log.%d{yyyy-MM-dd}">
            <PatternLayout pattern="[%p] [%d{yyyy-MM-dd HH:mm:ss}][%c]%m%n"/>
            <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY"/>
        </RollingFile>
    </appenders>

    <loggers>
        <AsyncLogger name="io.netty" level="debug" includeLocation="true">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="netty"/>
        </AsyncLogger>
        <AsyncRoot level="info" includeLocation="true">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="trace"/>
            <AppenderRef ref="error"/>
        </AsyncRoot>
    </loggers>

</Configuration>